
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    }
input, textarea, select{
    -webkit-user-select: auto;
    -webkit-touch-callout: auto;
}

@font-face {
	font-family: 'Remachine';
	src: url('fonts/RemachineScript_Personal_Use.ttf');
	font-weight: normal;
	font-style: normal;
}

.ui-page{
	background: url(images/background.jpg) !important;
}

#logo {
	margin:0 auto;
	display: block;
	height:225px;
	width:225px;
	margin-bottom:30px;
}

#Betreff {
	margin:0 auto;
	height: 10%;
	width: 80%;
	padding: 0.5em;
	border-radius: 1em;
	background-color: white; 
	opacity: .8;
}

#Betreff p {
	padding-left: 2em;
}

#Nachricht {
	margin: 0 auto;
	margin-top: 2%;
	width: 80%;
	padding: 0.5em;
	border-radius: 1em;
	background-color: white;
	opacity: .8;
	}

#Nachricht p {
	padding-left: 2em;
	padding-right: 2em;
	
	
}

#Fehlermeldung {
	width: 40%;
    margin: 0 auto;
    border-radius: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: white;
	opacity: .8;
    display: none;
}

#Fehlermeldung p {
	color: red;
	padding-left: 1em;
	padding-right: 1em;
}

a#replyButto {
	
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
}

.event-block {
	background-color: #fff;
	opacity: .8;
	margin-bottom:10px;
	padding:10px;
	}

.event-img {
	width:100px;
	height:100px;
	float:left;
	}
	
.event-desc {
	margin-left:110px;
	}
	
.event-desc h3 {
	margin-top:0px;
	}
	
.event-desc p {
	margin-top:2px;
	margin-bottom:2px;
	font-size:12px;
	}
	
.event-date {
	font-size:10px;
	color:#333;
	margin-top:15px;
	font-weight:bold;
	}
	
div.ui-block-a, div.ui-block-b {
	width:49% !important;
	}
	
div.ui-block-b {
	float:right;
	}
	
.ui-collapsible-content {
	background:#fff;
	}
	
.notificationPopup {
	padding:25px;
	}
	
.ui-bar-c {
	background:none;
	border:0px;
	}
	
#testometer {
	text-align: center !important; 
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	padding-bottom: 0px !important;
	padding-top:6px;
	height:35px;
	width:52px;	
	margin:0 auto;
	display:block;
	}
	
#testometer a {
	width:26px;
	top:0;
	margin:0;
	padding:0;
	}
	
#FriendsRequest {
padding:10px 20px;
}

#friendsrequestName{
	float:left; 
	margin-right:10px;
	
}

#ChallengeRequest{
padding: 20px 30px;
}

#challengerequestName {
	float: left;
	margin-right:10px;
	}
	
#OwnChallengeDetail #startedChallengeID {
	display:none;
	visibility:hidden;
	}
	
.sc-content {
	background:#fff;
	padding:0.4em;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	border-radius: 0.6em 0.6em 0.6em 0.6em;
	border: 1px solid #AAAAAA;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
	font-family: Helvetica,Arial,sans-serif;
	margin:0 0 10px 0;
	}
	
#landingPage .ui-btn {
	width:225px;
	}
	
#landingPage {
	width: 225px;
	margin:0 auto;
	top: 50%;
	/*margin-top: -355px;*/
	}
	
.ui-input-datebox {
	display:block;
	width:auto !important;
	}
	
#goAloneButton{
	margin-bottom:17px;
	}
	
#goButton {
	border-radius:150px;
	width:150px;
	height:150px;
	display:block;
	margin:0 auto;
}

#goButton span.ui-btn-inner {
	border-radius:150px;
	width:110px;
	height:93px;
	padding-top:48px;
	}
	
#goButton span.ui-btn-text {
	font-size:38px;
	}
	
h1 {
	color:#f0f0f0;
	text-shadow: 0 2px 0 #333;
	font-family: Arial;
	text-transform: uppercase;
	font-style: italic;
	}
	
span.error {
	border:1px solid #c60000;
    background-color:#fb9797;
	border-radius:7px;
	padding:5px;
	margin-top:10px;
	display:none;
	}
	
span.notificationBubble {
	border-radius:18px;
	height:18px;
	width:18px;
	display:block;
	background-color:red;
	position:absolute;
	font-size:12px;
	font-weight:bold;
	left:50%;
	z-index:9999;
	text-align:center;
	color:#fff;
	text-shadow:0 !important;
	}
	
#friendBubble {
	top: 0px; 
}

#challengeBubble {
	top: 0px; 
	margin-left: 27px;
}

#friendRequestList, #challengeRequestList {
	display:none;
	width:200px;
	margin:0 auto;
	top:50px;
	position:absolute;
	left:50%;
	margin-left:-100px;
	z-index:9995;
	background:#fff;
	}
	
#friendRequestList a, #challengeRequestList a {
	display:block;
	z-index:9999;
	} 
        
  